<%- include('_header.ejs') %>
    <h1>Hello World, Epxress-EJS-CRUD</h1>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>

    <h4 style="color: blue">Yay, we are up and running</h4>

<%- include('_footer.ejs') %>
